APP_NAME="Dev trUSt"
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_URL=https://devtrust.tm.com.my

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=172.20.17.181
DB_PORT=3306
DB_DATABASE=TRUSTDEV
DB_USERNAME=
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.tm.com.my
MAIL_PORT=25
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

API_PREFIX=api
API_DEBUG=true
API_VERSION=v1
API_DEFAULT_FORMAT=json
API_NAME="trUSt"
API_AUTHOR="D"
API_STANDARDS_TREE=vnd
API_SUBTYPE=trust

TMLDAP_HOSTNAME=ldaps://idssldap.tm.com.my:636
TMLDAP_ADMINUSER=
TMLDAP_ADMINPASS=

TMOIP_TOKEN=

ERA_API_KEY=
ERA_API_URI=

TRUST_RESERVE_DUR=5

GA_KEY=
