/*--------------------------------------------------------------
# trust enhancement
--------------------------------------------------------------*/

.modal-header{
margin-bottom: 0px;
border-bottom: 0 none;

padding-bottom: 0;
padding-left: 0;

}
/* white box at welcome page*/
.box-zahid
{
  background-color: #F9F7F5 ;
  border-color: #C0B2A0;
  border-width: 1pt;
  border-style: solid;
  color:#24242D;
}

.box-hani
{
 background-color:#C0B2A0;
}




/*card custom enhancement*/
.card{
  border-radius: 2px;
}

.card-header{
  background-color: #40314E;
  color:#fff;

}




/* end of card custom enhancement*/

/*buttons hack */

.btn{
    
    /*border-radius: 25px;*/
    border: 2px;
    border-radius: 5px;
}

.btn-primary{
    padding: 0.3em 15px;
    background: #E2455A 0% 0% no-repeat padding-box;   
    border: 0.15em solid #ffffff;
    font-size: 0.75em;
    opacity: 1;


}




.btn-primary:focus,
.btn-primary:hover,
.btn-primary:disabled:hover{
    background: #000000 !important;
    border: 2px solid #ffffff !important;
}


/*end of button hack */

.nav-menu a,button {
    vertical-align: middle;
    font-size: 18px;
}

.nav-menu > li {
  vertical-align: middle;
  margin:0;
  height: 3em;

 
  

}

.nav-menu{
  vertical-align:top;
  

}

/*title font at welcome page*/
.font-hani b{  
  color:#E2455A !important;
  }
.smaller15
{
  font-size:85%;

}
.smaller20
{
  font-size:80%;

}
.smaller05
{
  font-size:95%;
}

.section-header h3 {
  font-size: 24px;
  color: #40314E;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
  margin-top: 1em;
  padding-left: 0px;
  margin-left: 0px;
}

.section-header h3::before {
  content: '';
  position: absolute;
  display: block;
  width: 75%;
  height: 0.5px;
  background: #C0B2A0; 
  bottom: 0;
  left: 0;
}

/* KAKI */

.foot{
  padding: 10px;
  width: 100%;
  position: relative;
  height: 60px;
  display: table;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 3;
  color: white;
  background-color: #24242D;
  vertical-align: middle;

}



.foots{
  
  
  justify-content: space-between;


}




.foot-text{
  vertical-align: middle;
  display: table-cell;


  vertical-align: middle;
}

.foot-img{
  margin-left: auto;
  height: 40px;
}


/* end of kaki */

/*----

@media (min-width: 600px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

----!>